M3RegistrationExample/M3RegistrationExample.xcodeproj/xcuserdata/dark.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
M3RegistrationExample/M3RegistrationExample.xcodeproj/xcuserdata/dark.xcuserdatad/xcschemes/M3RegistrationExample.xcscheme
M3RegistrationExample/M3RegistrationExample.xcodeproj/project.xcworkspace/xcuserdata/dark.xcuserdatad/WorkspaceSettings.xcsettings
M3RegistrationExample/M3RegistrationExample.xcodeproj/xcuserdata/dark.xcuserdatad/xcschemes/xcschememanagement.plist
M3RegistrationServer/.idea/*
M3RegistrationServer/node_modules/*
