[submodule "AFNewtworking"]
	path = AFNewtworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "FacebookSDK"]
	path = FacebookSDK
	url = https://github.com/facebook/facebook-ios-sdk
